body{
  adding:0px;
margin:0px;
}

.bar{
  background-color:#1f1e1e;
   display: flex;
  
}

.barbut{
  min-height:40px;
  max-height:40px;
  background-color:#1f1e1e;
  color:white;
  border-color:#1f1e1e;
  border-style:solid;
}
.barbut:hover{
  background-color:#787878;
  border-color:#ededed;
}
.barbut:active{
  background-color:#ff7300;
}
.title{
  color:white;

  padding-left:20px;
  font-size:32px;
  font-family:sans-serif;
  font-weight: bold;
}
